@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, 'Montserrat', sans-serif !important;
	background: #064682 !important;
}

* {
	font-family: -apple-system, 'Montserrat', sans-serif !important;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}